<div class="oj-hybrid-padding">
  <div class="oj-hybrid-padding">

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item">
        <div style="width:500px;height:600px;overflow:scroll">


          <!-- BASIC HTML COMPONENT -->
          <!-- <input type="password" placeholder="" /> -->


          <!-- WITH JQUERY INJECTION PATTERN -->
          <!-- <table id="myTarget"></table> -->

          <!-- WITH STANDARD JS TEMPLATE PATTERN -->
          <!-- <table>
            <thead>
              <tr><td>Item No</td><td>Short Item No</td><td>Description</td><td>Search Type</td><td>UPC Code</td><td>Product Code</td></tr>
            </thead>
            <tbody data-bind="foreach: itemsArray">
              <tr>
                <td data-bind="text: F4101_ITM"></td>
                <td data-bind="text: F4101_LITM"></td>
                <td data-bind="text: F4101_DSC1"></td>
                <td data-bind="text: F4101_ALN"></td>
                <td data-bind="text: F4101_UPCN"></td>
                <td data-bind="text: F4101_RPRC"></td>
              </tr>
            </tbody>
          </table> -->

          <!-- WITH WEB COMPONENT -->
          <filter-table tableid="items" filter="" data={{itemData}} onrowclick="{{handleRowClick}}"></filter-table>


        </div>

      </div>
      <div class="oj-flex-item">

      </div>
    </div>
  </div>
</div>
