<div class="oj-hybrid-padding">
  <div class="oj-hybrid-padding">

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item">
        <div style="width:500px;height:600px;overflow:scroll" id="appHolder">





    <div>
      <h1><span data-bind="text:user().name"></span></h1>
      <h1><span data-bind="text:user().userName"></span></h1>
    </div>
        </div>
        </div>
        </div>
        </div>
        </div>


          <!-- BASIC HTML INPUT COMPONENT -->
          <!-- <input type="password" placeholder="" /> -->
